.body {
    font-size: 16px;
    color: white
}

.jumbotron {
    padding: 5px;
    margin-bottom: 0;
    font-family: 'Bangers', cursive;
    background-color: black;
    color: white;
    border-bottom: 4px solid blueviolet;
}

.row {
    padding: 20px;
    background-color: black;
}

.fluid-container {
    padding: 0;
    font-size: 24px;
    color: white;
}

footer {
    color: white;
    text-align: center;
    background-color: black;
    border-top: 4px solid blueviolet;
    padding: 5px;
  }